DATABASE_URL="postgresql://KULLANICI:PAROLA@localhost:5433/VERITABANI?schema=public"

DATABASE_URL="postgresql://KULLANICI:PAROLA@localhost:5433/VERITABANI?schema=public"
PORT=3000
JWT_SECRET=rastgele-uretilmis-64-karakterlik-dizge
JWT_EXPIRES_IN=7d